
-WMqieslg       # vom Standard abweichende Reihenfolge

#    L(oop)  H(elix)  S(heet)

-Wm
     11.70    10.57     7.74         # Sequenz
      6.05     2.00     6.63         # Gap insertion
      2.37     5.04     1.66         # Gap extention
      0.06     4.15     0.06         # Sec.Str.Pref.
      0.03     1.81     0.05         # local CCP
      1.25     1.24     6.44         # global CCP


